@{
    ViewData["Title"] = "About Investments! ";
}


<div class="row">
    <h2 class="col-sm-10">Russell's Terrible Investments!</h2>
	<div class="col-sm-12"></div>
	<div class ="col-sm-8">
		<p >
			The key to investing is to carefully and with forethought find a company or
			crypto to invest in, and then to ensure that the return on it will be good.
		</p>
		<p>
			Instead what we at Russell's Terrible Investments do is find something to invest in,
			commit to it fully and then never sell! Oh and lose a bunch of money.
			Oh well. Life goes on. So if you're looking to lose money, give it to us!
		</p>
	</div>
	<p class="col-sm-4"></p>
	<div class="col-sm-2" >
		<img src="~/Images/AMP.jpg" alt="AMP" style="border-radius:20px;"class="rounded img-fluid"/>
	</div>
</div>

    

    
    


