
@{
ViewData["Title"] = "Investments!";
}
<h2>How to invest</h2>
<h3>Learn from me! Someone who has not successfully invested anything!</h3>

<address>
100 Silver Lake Rd<br />
Traverse City, MI 49684<br />
<abbr title="Phone">P:</abbr>
231.360.5236
</address>
<img src="~/Images/email.jpg" alt="Email" style="border-radius:20px;width:20%;" />
<address>
<strong>My email!:</strong> <a href="mailto:rarlt@mail.nmc.edu.com">rarlt@mail.nmc.edu.com</a><br />
<strong>Another email!:</strong> <a href="mailto:russellgtarlt@gmail.com.com">russellgtarlt@gmail.com</a>
</address>

